<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input autofocus ng-enter="searchByPhrase()" ng-model="query.filter.phrase" type="text" class="form-control"
                           placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchByPhrase()">Go!</button>
                  </span>
                </div>
                <div class="mt10">
                    <label class="radio-inline">
                        <input type="radio" ng-model="query.ql" ng-value="false" name="query_type">
                        <span ng-tooltip="toolTips.simpleSearch">простой поиск</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="query.ql" ng-value="true" name="query_type">
                        <span ng-tooltip="toolTips.querySearch">язык запросов</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="model.notFound">
        <h4>По Вашему запросу ничего не найдено</h4>
    </div>
    <!--<div ng-if="model.posts.total">-->
    <div ng-if="!model.emptyPhrase">
        <div class="row">
            <div class="col-md-3">
                <h4>Период</h4>
                <div class="mb20">
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 5px;">
                            <input class="form-control" ng-enter="filter();" ng-date-picker="" ng-model="query.filter.from" type="text" placeholder="Начало">
                        </div>
                        <div class="col-md-6" style="padding-left: 5px;">
                            <input class="form-control" ng-enter="filter();" ng-date-picker="" ng-model="query.filter.to" type="text" placeholder="Окончание">
                        </div>
                    </div>
                    <div class="mt10">
                        <button class="btn btn-primary btn-xs" ng-click="filterByDate();">
                            <span class="fa fa-filter"></span>
                            применить
                        </button>
                        <button class="btn btn-default btn-xs" ng-click="clearDateFilter();">
                            <span class="fa fa-times"></span>
                            очистить
                        </button>
                    </div>
                </div>
                <h4>Ресурсы</h4>
                <ul class="nav nav-pills nav-faceted nav-stacked">
                    <li ng-class="{'active': sourceIsSelected(source.id)}" ng-repeat="source in model.aggs.sources">
                        <a href="javascript:void(0);" ng-click="filterBySource(source.id);">
                            {{source.name}}
                            <span title="Количество упоминаний" class="label label-primary">
                                {{source.relevant_posts}}
                            </span>
                        </a>
                    </li>
                </ul>
                <h4>Города<a ng-click="citiesChart();"><i class="ml5 fa fa-bar-chart"></i></a></h4>
                <ul class="nav nav-pills nav-faceted nav-stacked">
                    <li ng-class="{'active': cityIsSelected(city.id)}" ng-repeat="city in model.aggs.cities">
                        <a href="javascript:void(0);" ng-click="filterByCity(city.id);">
                            {{city.name}}
                            <span title="Доля упоминаний"
                                  class="label label-primary">{{city.fraction | percentage}}</span>
                            <span title="Количество упоминаний"
                                  class="label label-primary">{{city.relevant_posts}}</span>
                        </a>
                    </li>
                </ul>
                <h4>Лидеры мнений</h4>
                <ul class="nav nav-pills nav-faceted nav-stacked">
                    <li ng-class="{'active': profileIsSelected(leader.id)}" ng-repeat="leader in model.aggs.leaders">
                        <a href="javascript:void(0);" ng-click="filterByProfile(leader.id);">
                            {{leader.name}}
                            <span title="Охват" class="label label-primary">{{leader.reach}}</span>
                            <span title="Количество упоминаний"
                                  class="label label-primary">{{leader.relevant_posts}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9" ng-if="model.posts.total">
                <div class="mb20">
                    <h4>
                        <span ng-click="postsChart();" class="label label-primary pointer">Упоминаний: {{model.aggs.totalPosts.byPhrase}}<i class="ml5 fa fa-bar-chart"></i></span>
                        <span ng-click="profilesChart();" class="label label-primary pointer">Авторов: {{model.aggs.totalProfiles.byPhrase}}<i class="ml5 fa fa-bar-chart"></i></span>
                        <span ng-click="reachChart();" class="label label-primary pointer">Охват: {{model.aggs.totalReach.byPhrase}}<i class="ml5 fa fa-bar-chart"></i></span>
                        <span ng-click="engagementChart();" class="label label-primary pointer">Вовлеченность: {{model.aggs.totalEngagement.byPhrase}}<i class="ml5 fa fa-bar-chart"></i></span>
                    </h4>
                </div>
                <div class="mb20">
                        <ul class="nav nav-pills nav-sorted">
                            <li>
                                <span class="title">Сортировать по</span>
                            </li>
                            <li ng-class="sortState('_score')">
                                <a ng-click="sort('_score')">Релевантности<!--<i class="fa fa-arrow-up"></i>--></a>
                            </li>
                            <li ng-class="sortState('reach');">
                                <a ng-click="sort('reach')">Охвату</a>
                            </li>
                            <li ng-class="sortState('engagement');">
                                <a ng-click="sort('engagement')">Вовлеченности</a>
                            </li>
                            <li ng-class="sortState('post_date');">
                                <a ng-click="sort('post_date')">Дате поста</a>
                            </li>
                        </ul>
                </div>
                <div class="pager-top">
                    <span ng-pager ng-page-size="query.paging.pagesize"
                          ng-current-page="query.paging.page"
                          ng-total="model.posts.total" ng-page-click="changePage(page)"></span>
                </div>
                <div ng-repeat="post in model.posts.items">
                    <a ng-href="{{post.post_href}}" target="_blank">
                        <div ng-bind-html="post.text | trusted" class="mb15"></div>
                    </a>
                    <div class="row sign">
                        <div class="col-md-3">
                            Дата: <span ng-bind="post.post_date | date"></span>
                        </div>
                        <div class="col-md-3">
                            Юзер:
                            <a target="_blank" ng-href="{{post.profile_href}}">
                                <span ng-bind="post.profile_name"></span> <span style="display: none;">{{post.profile_id}}</span>
                            </a>
                        </div>
                        <div class="col-md-2">
                            Город: <span ng-bind="post.profile_city"></span>
                        </div>
                        <div class="col-md-2">
                            Охват: <span ng-bind="post.reach"></span>
                        </div>
                        <div class="col-md-2">
                            Вовлеченность: <span ng-bind="post.engagement"></span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div>
                    <span ng-pager ng-page-size="query.paging.pagesize"
                          ng-current-page="query.paging.page"
                          ng-total="model.posts.total" ng-page-click="changePage(page)"></span>
                </div>
            </div>
        </div>


    </div>
</div>
<div data-ui-view="" data-autoscroll="false"></div>