<div class="pull-right dropdown pagesize">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" title="Количество элементов на странице">{{ngPageSize}}</button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation" ng-click="ngSizeChange({size: 10})"><a role="menuitem">10</a></li>
        <li role="presentation" ng-click="ngSizeChange({size: 25})"><a role="menuitem">25</a></li>
        <li role="presentation" ng-click="ngSizeChange({size: 50})"><a role="menuitem">50</a></li>
    </ul>
</div>
